.contact {
  margin-left: 280px;
  padding: 100px 50px;
  min-height: 100vh;
  background:  #0a0a16;
  color: white;
}

.contact-title {
  text-align: center;
  font-size: 42px;
  color: #8b5cf6;
  margin-bottom: 6px;
}

.contact-sub {
  text-align: center;
  color: #bfbfbf;
  margin-bottom: 55px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
}


.contact-left {
  width: 30%;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 14px;
}

.contact-icon {
  font-size: 28px;
  color: #8b5cf6;
}

.contact-item h4 {
  margin: 0;
  font-size: 18px;
}

.contact-item p {
  margin-top: 3px;
  color: #cfcfcf;
  font-size: 15px;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 70px;

}

.contact-form input,
.contact-form textarea {
  background: #1a1a3a;
  color: white;
  border: 1px solid #3a3a63;
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 6px;
  font-size: 15px;

}

.send-btn {
  width: fit-content;
  padding: 10px 25px;
  background: #8b5cf6;
  border-radius: 6px;
  border: 2px solid #6e46d6;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  color: white;
}

.send-btn:hover {
  background: #a78bfa;
  transform: translateY(-3px);
}

.status {
  margin-top: 12px;
  font-size: 15px;
  color: #c5a9ff;
}
