.edu-section {
  margin-left: 280px;
  padding: 100px 50px;
  min-height: 100vh;
  background: #0d0d22;
  color: white;
}

.edu-title {
  text-align: center;
  font-size: 42px;
  color: #8b5cf6;
  margin-bottom: 60px;
  margin-top: -10px;
}

.timeline-container {
  width: 70%;
  margin: auto;
  border-left: 3px solid #8b5cf6;
  padding-left: 40px;
  position: relative;
}

.timeline-item {
  margin-bottom: 45px;
  position: relative;
}

.timeline-dot {
  width: 14px;
  height: 14px;
  background: #8b5cf6;
  border-radius: 50%;
  position: absolute;
  left: -47px;
  top: 5px;
}

.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 6px;
}

.inst {
  color: #b6b6b6;
}

.year {
  font-size: 14px;
  color: #c4c4c4;
  margin-bottom: 8px;
}

.view-more-btn {
  background: transparent;
  border: none;
  color: #8b5cf6;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.view-more-btn:hover {
  color: yellow;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #141428;
  padding: 30px;
  border-radius: 10px;
  width: 420px;
  border: 1px solid #8b5cf6;
}

.modal-title {
  color: #8b5cf6;
  margin-bottom: 20px;
}

.modal-box ul li {
  margin: 8px 0;
  color: #d4d4d4;
  margin-bottom: 20px;
}

.close-btn {
  margin-top: 20px;
  padding: 8px 18px;
  margin-left: 40%;
  background: #8b5cf6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn:hover {
  background: #a88bff;
}
