.exp-section {
    margin-left: 280px;
    padding: 100px 50px;
    min-height: 100vh;
    background:  #0a0a16;
    color: white;
}

.exp-title {
    font-size: 42px;
   /* margin-bottom: 60px; */
    text-align: center;
    color: #8b5cf6;
    margin-top: -10px;
}

.exp-card {
    width: 70%;
    background: #141428;
    margin: 0 auto;
    padding: 25px;
    border-left: 4px solid #8b5cf6;
    border-radius: 8px;
    backdrop-filter: blur(3px);
    transition: 0.3s ease;
}

.exp-card:hover {
    transform: translateY(-4px);
    background: #1b1b33;
}


.exp-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.exp-left {
    width: 65%;
}

.exp-left p {
    font-size: 18px;

}

.exp-card p {
    margin: 6px 0;
    margin-bottom: 20px;
}

.exp-desc {
    font-size: 14px;
    color: #d4d4d4;
    margin-top: 8px;
    line-height: 1.5;
}

.exp-right {
    text-align: center;
    width: 30%;
}

.exp-right h4 {
    color: yellow;
    font-size: 18px;

}

.exp-logo {
    width: 170px;
    height: 150px;
    border-radius: 8px;
    object-fit: contain;
    background: white;
    padding: 6px;
    border: 2px solid #8b5cf6;
    box-shadow: 0 0 8px rgba(139, 92, 246, 0.5);
}

.company-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}