.home {
  margin-left: 280px;
  padding: 100px 50px;
  background: #0a0a16;
  color: white;
  height: 400px;
  margin-top: -30px;
  
  
}

.hello {
  font-size: 20px;
  color: #b9b9b9;
}

.name {
  font-size: 35px;
  font-weight: 700;
  color: #8b5cf6;
  margin-top: 6px;
}

.roles {
  margin-top: 10px;
  font-size: 22px;
  color: #d3d3d3;
}

.dynamic-role {
  color: #8b5cf6;
  font-weight: 700;
  margin-left: 8px;
}

.tagline {
  margin-top: 15px;
  font-size: 18px;
  color: #cfcfcf;
}

.btn {
  margin-top: 25px;
  display: inline-block;
  padding: 10px 25px;
  background: #8b5cf6;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  
}

.btn:hover {
  background: #a78bfa;
}

.social-links {
  margin-top: 45px;
  display: flex;
  gap: 98px;
  font-size: 28px;
}

.social-links a {
  color: yellow;
  transition: 0.3s;
}

.social-links a:hover {
  color: #c9afff;
  transform: translateY(-4px);
}
