.sidebar {
  width: 250px;
  background: #0e0e20;
  height: 100vh;
  color: white;
  position: fixed;
  padding: 30px;
}

.profile img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.profile h2 {
  text-align: center;
  margin-top: 45px;
  font-size: 24px;
}

.menu {
  margin-top: 65px;
  list-style: none; 
}

.menu li {
  margin: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #8b5cf6;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}   