.app-container {
  display: flex;
  background: #000;
}

/* Left fixed sidebar */
.sidebar {
  width: 220px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

/* Entire right side (navbar + content) */
.main-content {
  margin-left: 220px;
  width: calc(100% - 220px);
}

/* Content sections */
.content {
  padding: 40px 80px;
}

.section {
  min-height: 100vh;
  padding: 100px 0;
  color: white;
}

